<table>
	<tr><td><%= I18n.t("tog_conclave.fields.title") %></td><td><%=@event.title%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.description") %></td><td><%=@event.description%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.start_date") %></td><td><%=@event.start_date%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.end_date") %></td><td><%=@event.end_date%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.start_time") %></td><td><%=@event.start_time%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.end_time") %></td><td><%=@event.end_time%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.url") %></td><td><%=@event.url%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.venue") %></td><td><%=@event.venue%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.venue_address") %></td><td><%=@event.venue_address%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.venue_link") %></td><td><%=@event.venue_link%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.capacity") %></td><td><%=@event.capacity%></td></tr>
	<tr><td><%= I18n.t("tog_conclave.fields.tags") %></td><td><%=@event.tag_list%></td></tr>
</table>

<br />