<table class="tableE">
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.title") %></th><td><%=@event.title%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.description") %></th><td><%=@event.description%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.start_date") %></th><td><%=@event.start_date%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.end_date") %></th><td><%=@event.end_date%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.start_time") %></th><td><%=@event.start_time%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.end_time") %></th><td><%=@event.end_time%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.url") %></th><td><%=@event.url%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.venue") %></th><td><%=@event.venue%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.venue_address") %></th><td><%=@event.venue_address%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.venue_link") %></th><td><%=@event.venue_link%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.capacity") %></th><td><%=@event.capacity%></td></tr>
	<tr><th scope="row"><%= I18n.t("tog_conclave.fields.tags") %></th><td><%=@event.tag_list%></td></tr>
</table>

<br />