<table class="tableE">
  <caption><%= I18n.t("tog_conclave.admin.event_details") %></caption>
  <tbody>
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.title") %></th>
      <td nowrap="nowrap"><%=f.text_field :title, :class=>"fieldbox" %></td>
  </tr>
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.description") %></th>
      <td nowrap="nowrap"><%=f.text_area :description, :size => '40x6', :class=>"fieldbox" %></td>
  </tr>     
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.url") %></th>
      <td nowrap="nowrap"><%=f.text_field :url, :class=>"fieldbox" %></td>
  </tr>
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.tags") %></th>
      <td nowrap="nowrap">
        <%= text_field "event", "tag_list", :class => "fieldbox" %>
        <br/>
        <span class="helpinfo"><%= I18n.t("tog_conclave.fields.tags_explanation") %></span>
      </td>      
  </tr>   
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.icon") %></th>
      <td nowrap="nowrap"><%= file_field "event", "icon" %></td>      
  </tr>          
</tbody></table>
<table class="tableE">
  <caption><%= I18n.t("tog_conclave.admin.datetimes") %></caption>
  <tbody>
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.start_date") %></th>
      <td nowrap="nowrap"><%=f.date_select :start_date, :use_month_names => I18n.t("date.month_names"), :class=>"fieldbox" %></td>
  </tr>
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.end_date") %></th>
      <td nowrap="nowrap"><%=f.date_select :end_date, :use_month_names => I18n.t("date.month_names"), :class=>"fieldbox" %></td>
  </tr>
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.start_time") %></th>
      <td nowrap="nowrap"><%=f.time_select :start_time, :class=>"fieldbox" %></td>
  </tr>
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.end_time") %></th>
      <td nowrap="nowrap"><%=f.time_select :end_time, :class=>"fieldbox" %></td>
  </tr>                
</tbody></table>
<table class="tableE">
  <caption><%= I18n.t("tog_conclave.admin.localization") %></caption>
  <tbody>
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.venue") %></th>
      <td nowrap="nowrap"><%=f.text_field :venue, :class=>"fieldbox" %></td>
  </tr>
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.venue_address") %></th>
      <td nowrap="nowrap">
        <%=f.text_field :venue_address, :class=>"fieldbox" %>
        <br/>
        <span class="helpinfo"><%= I18n.t("tog_conclave.fields.used_for_geolocation") %></span>
      </td>
  </tr>
  <tr>
      <th scope="row"><%= I18n.t("tog_conclave.fields.venue_link") %></th>
      <td nowrap="nowrap"><%=f.text_field :venue_link, :class=>"fieldbox" %></td>
  </tr>
</tbody></table>
<table class="tableE">
  <caption><%= I18n.t("tog_conclave.admin.attendance") %></caption>
  <tbody>
    <tr>
        <th scope="row"><%= I18n.t("tog_conclave.fields.capacity") %></th>
        <td nowrap="nowrap"><%=f.text_field :capacity, :class=>"fieldbox" %></td>
    </tr>
</tbody></table>

<br />
