<fieldset>
  <legend>Event details</legend>
  <div class="fields">
    <p>
      <label for="event_title">Title</label>
      <%= f.text_field :title, :class=>"fieldbox" %>
    </p>
		<p>
      <label for="event_description">Description</label>
      <%= f.text_area :description, :class=>"fieldbox" %>
    </p>
    <p>
      <label for="event_start_date">Start date</label>
      <%= f.date_select :start_date, :class=>"fieldbox" %>
    </p>
    <p>
      <label for="event_end_date">End date</label>
      <%= f.date_select :end_date, :class=>"fieldbox" %>
    </p>
		<p>
      <label for="event_start_time">Start time</label>
      <%= f.time_select :start_time, :class=>"fieldbox" %>
    </p>
    <p>
      <label for="event_end_time">End time</label>
      <%= f.time_select :end_time, :class=>"fieldbox" %>
    </p>
		<p>
      <label for="event_url">Url</label>
      <%= f.text_field :url, :class=>"fieldbox" %>
    </p>
		<p>
      <label for="event_venue">Venue</label>
      <%= f.text_field :venue, :class=>"fieldbox" %>
    </p>
		<p>
      <label for="event_venue_address">Venue address</label>
      <%= f.text_field :venue_address, :class=>"fieldbox" %>
      <br/>
      <small>Used for geolocation</small>
    </p>
		<p>
      <label for="event_venue_link">Venue link</label>
      <%= f.text_field :venue_link, :class=>"fieldbox" %>
    </p>
		<p>
      <label for="event_capacity">Capacity</label>
      <%= f.text_field :capacity, :class=>"fieldbox" %>
    </p>    
		<p>
      <label for="tag_list">Tags (separated by ,)</label>
      <%= text_field "page", "tag_list", :class => "fieldbox" %>
    </p>    
  </div>
</fieldset>


<br />
