<p><%= link_to I18n.t("tog_conclave.admin.create_new_event"),  new_admin_conclave_event_url, {:class => "button add", :title => I18n.t("tog_conclave.admin.create_new_event")} %></p>
<table class="tableB">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t("tog_conclave.fields.title") %></th>
      <th scope="col"><%= I18n.t("tog_conclave.fields.start_date") %></th>
      <th scope="col"><%= I18n.t("tog_conclave.fields.start_time") %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4" class="info_results">
        <span class="info_items"><%= page_entries_info @events %></span>
        <span class="pages_navigation right">
          <%= will_paginate @events, :container => false %>
        </span>
        </td>
    </tr>
  </tfoot>
  <tbody>
    <% @events.each do |event| %>

    <tr<%= cycle(' class="pair"','') -%>>
      <td><strong><%= link_to event.title, admin_conclave_event_url(event), {:title => I18n.t("tog_conclave.admin.show")} -%></strong></td>
      <td><%= event.start_date -%></td>
      <td><%= event.start_time -%></td>
    </tr>

    <% end %>
  </tbody>
</table>