
          <div class="title3 clearfix margin1">
              Mis conferencias
          </div> 
          <br />
          
          <ul class="list2">
          	<% if @events.empty? %>
            	<li class="clearfix">No te has registrado a ninguna conferencia
	          <% else %>
						  <% @events.each do |event| %>
		          <li class="clearfix" id="event<%=event.id.to_s%>">
		              <div class="li_content">
		                  <div class="metadata">
		                      <span class="meta">Título:</span> <%= link_to '<strong>'+event.title+'</strong>', conclave_event_path(event), :title => event.title %>
		                      <br />
		                      <span class="meta">Fecha:</span> <%=event.start_date.to_s %>
													<br />
		                      <span class="meta">Horario:</span> <%=event.start_time.to_s %> a <%=event.end_time.to_s %>
													<br />
													<span id="current_status<%=event.id.to_s%>">
														<%if logged_in? && event.attendees.include?(current_user)%>
															¡Apuntado!. <%=link_to_remote 'No asistiré', :url=>member_conclave_unregister_path(event), :update=>"current_status"+event.id.to_s, :success=>"$('event"+event.id.to_s+"').hide()"%> 
														<%end%>
													</span>
		                  </div>
		              </div> <!-- /.li_content -->    
		          </li>
							<%end%>
						<%end%>
          </ul>