<div class="portlet portletB">
    <h2><span>Events for <%= "#{Date::MONTHNAMES[@month]} #{@year}" %></span></h2>

    <div class="portlet_content"> 
        <ul>
          <% if @events.empty? %>
            <li class="clearfix">There isn't any event at <%= @date%>.
          <% else %>
              <% @events.each do |event| %>
                <li class="clearfix">
                  <%= link_to event.title, conclave_event_path(event), :title => event.title %>
                  <br/> <%=event.opening_time %>
                </li>
              <% end %>
          <% end %> 
        </ul>
    </div>    
</div>
<% if !@events.empty? %>
  <div class="info_results">
      <span class="info_items">
        <%= page_entries_info @events %>
      </span>
      <span class="pages_navigation right">
          <%= will_paginate @events %>
      </span>
  </div>
<%end%>

<% content_for :sidebar do %>
  <%= render :partial => 'calendar', :locals => {:year => @year, :month => @month} -%>
<% end -%>