<div class="portlet portletB">
    <h2><span><%= write_date(@year, @month, @day) %></span></h2>

    <div class="portlet_content"> 
        <ul>
          <% if @events.empty? %>
            <li class="clearfix"><%= I18n.t('tog_conclave.site.no_events_for')%> <%= write_date(@year, @month, @day) %>.
          <% else %>
              <% @events.each do |event| %>
                <%= render :partial => 'list_detail', :locals => {:event => event} %>
              <% end %>
          <% end %> 
        </ul>
    </div>    
</div>
<% if !@events.empty? %>
  <div class="info_results">
      <span class="info_items">
        <%= page_entries_info @events %>
      </span>
      <span class="pages_navigation right">
          <%= will_paginate @events %>
      </span>
  </div>
<%end%>

<% content_for :sidebar do %>
  <%= render :partial => 'calendar', :locals => {:year => @year, :month => @month} -%>
<% end -%>