<div class="portlet portletH" id="portlet_groups">
    <h2><span><%= I18n.t("tog_conclave.views.index.upcoming") %></span></h2>
    <p><%= link_to I18n.t("tog_conclave.views.index.create_new_event"), new_member_conclave_event_path, :class => 'button add' %></p>
    <div class="portlet_content">
        <ul>
          <%@events.each do |event|%>
            <%= render :partial => 'list_detail', :locals => {:event => event} %>
          <%end%>          
        </ul>
    </div>    
</div>


<%= will_paginate @events %>

<% content_for :sidebar do %>
  <%= render :partial => 'calendar', :locals => {:year => @year, :month => @month} -%>
<% end -%>