<div class="detail detail1">
    <div class="image"></div>
    <div class="title"><%= @event.title -%></div>
    <div class="subtitle">
      <%= write_event_date(@event) %>
    </div>
    <div class="text">
        <%= sanitize textilize(@event.description) %>
    </div>
    
    <div class="portlet portletC">
        <h2><span>More info</span></h2>
        <div class="portlet_content">
            <ul>
                <li><%if @event.url%>Url: <%=link_to @event.url,@event.url%><%end%></li>
                <li>Venue: <%= link_to @event.venue, map_conclave_event_path(@event), :popup => [@event.venue, 'width=600,height=400']
 %></li>
            </ul>
        </div> 
    </div>            
    <div id="register">
    	<%if logged_in? && @event.registered?(current_user)%>
    		<%=link_to "Unregister", member_conclave_event_attendance_path(@event, @event), :method => :delete %>
    	<%elsif @event.active? && @event.places_left?%>
    		<%=link_to "Register", member_conclave_event_attendances_path(@event), :method => :post %>
    	<%end%>      
    </div>
    <div id="map">
      <%= render :partial => 'map', :locals => {:width => 400, :height => 300} %>
    </div>
    
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'calendar', :locals => {:year => @event.start_date.year, :month => @event.start_date.month} -%>
<% end -%>
